
{% extends "base.html" %}

{% block title %}
    {{page_title}}
{% endblock title %}


{% block contents %}
    <div class="container shadow-lg p-3 mb-5 bg-white rounded" style="margin-top:50px">
        <h3 style="text-align:center ;">Data Mata Kuliah</h3>
        <form method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            {{matakuliah_form.kode.label}}
            {{matakuliah_form.kode}}
        </div>
        <div class="form-group">
            {{matakuliah_form.nama.label}}
            {{matakuliah_form.nama}}
        </div>
        <div class="form-group">
            {{matakuliah_form.sks.label}}
            {{matakuliah_form.sks}}
        </div>
        <div class="form-grup">
            {{matakuliah_form.kategori.label}}
            {{matakuliah_form.kategori}}
        </div>
        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-primary btn-block">Kirim</button>
         </div>

    </form>
</div>
{% endblock contents %}
