{% extends "base.html" %}

{% block title %}
    {{page_title}}
{% endblock title %}


{% block contents %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded" style="margin-top:50px">
<h3 style="text-align:center ;">Data Pengajar</h3>
<a href="{% url 'App:createpengajar' %}" class="btn btn-primary" role="button" aria-disabled="true">Create</a>
    <table class="table" style="margin-top:10px">
        <thead style="text-align:center ;">
            <tr>
                <th style="width: 30%;">Nama</th>
                <th style="width: 30%;">Kategori</th>
                <th style="width: 30%;">Action</th>
            </tr>
        </thead>
        <tbody style="text-align:center ;">
            {% for pengajar in semua_pengajar %}
              <tr>
                <td style="width: 30%;">{{pengajar.nama}}</td>
                <td style="width: 30%;">{{pengajar.kategori}}</td>
                  <td style="width: 15%;">
                    <a href="{% url 'App:deletepengajar' pengajar.id %}" class="btn btn-danger" role="button" aria-disabled="true">Delete</a>
                    <a href="{% url 'App:updatepengajar' pengajar.id %}"class="btn btn-success" role="button" aria-disabled="true">Update</a>
                </td>
              </tr>
            {% endfor %}
        </ol>
        </tbody>
    </table>
</div>
{% endblock contents %}
